openapi: 3.0.3

info:
  title: Islamic Network - Prayer Times API
  version: 1.0.0
  description: |
    # Introduction

    A RESTful API to get islamic prayer times for a given day, month or year.

    ## Note 

    The API has several endpoints to assist developers. All the endpoints return JSON and are available over `http` and `https`.

    This documentation is incomplete, and currently a work in progress. The full documentation can be accessed [here](https://aladhan.com/prayer-times-api).

    **NOTE: If you are using this API, please sign up to the developer mailing list [here](https://aladhan.com/contact) so you can be informed of any updates or scheduled maintenance to the API.**

    ## Contributing

    The following links may be useful if interested in contributing:
    - [Patreon](https://www.patreon.com/islamicnetwork/)
    - [API Codebase](https://github.com/islamic-network/api.aladhan.com)
    - [OpenAPI Documentation](https://github.com/islamic-network/openapi)
    - [Islamic Network Website (Current Documentation)](https://aladhan.com/)

    Donations to our [patreaon](https://www.patreon.com/islamicnetwork/) are appreciated and used to pay for cost of the cluster that provides the Islamic Network APIs (this includes the AlAdhan, AlQuran APIs and the Masjid Project).

    If you have any suggestions or would like to say something, you can get in touch by emailing `support@islamic.network` or by joining the [Islamic Network Discord server](https://discord.gg/FwUy69M).
tags:
  - name: Current Date/Time
  - name: Prayer Times Methods

servers:
  - url: "http://api.aladhan.com"
  - url: "https://api.aladhan.com"

paths:
  /v1/currentDate:
    $ref: 'api/current-date-time/definition.yaml#/current-date'
  /v1/currentTime:
    $ref: 'api/current-date-time/definition.yaml#/current-time'
  /v1/currentTimestamp:
    $ref: 'api/current-date-time/definition.yaml#/current-timestamp'
  /v1/methods:
    $ref: 'api/prayer-times-methods/definition.yaml#/paths/prayer_times_methods'
  /v1/calendar:
    $ref: "api/prayer-times/definition.yaml#/paths/calendar"
  /v1/calendarByAddress:
    $ref: "api/prayer-times/definition.yaml#/paths/calendarByAddress"
  /v1/calendarByCity:
    $ref: "api/prayer-times/definition.yaml#/paths/calendarByCity"
  /v1/hijriCalendar:
    $ref: "api/prayer-times/definition.yaml#/paths/hijriCalendar"
  /v1/hijriCalendarByAddress:
    $ref: "api/prayer-times/definition.yaml#/paths/hijriCalendarByAddress"
  /hijriCalendarByCity:
    $ref: "api/prayer-times/definition.yaml#/paths/hijriCalendarByCity"
  /timings:
    $ref: "api/prayer-times/definition.yaml#/paths/timings"
  /timings/{date_or_timestamp}:
    $ref: "api/prayer-times/definition.yaml#/paths/timings_date_or_timestamp"
  /timingsByAddress:
    $ref: "api/prayer-times/definition.yaml#/paths/timingsByAddress"
  /timingsByAddress/{date_or_timestamp}:
    $ref: "api/prayer-times/definition.yaml#/paths/timingsByAddress_date_or_timestamp"
  /timingsByCity:
    $ref: "api/prayer-times/definition.yaml#/paths/timingsByCity"
  /timingsByCity/{date_or_timestamp}:
    $ref: "api/prayer-times/definition.yaml#/paths/timingsByCity_date_or_timestamp"
