openapi: '3.0.2'
info:
  title: Prayer Times API
  description: AlAdhan.com Prayer Times API OpenAPI spec
  version: 0.0.3-draft
servers:
  - url: https://api.aladhan.com/v1
components:
  parameters:
    date_or_timestamp:
      in: path
      name: date_or_timestamp
      description: >
        A date in the DD-MM-YYYY format or UNIX timestamp.
        Defaults to the current date if omitted.
      required: true
      schema:
        type: string
    address:
      in: query
      name: address
      description: >
        An address string
      schema:
        type: string
        example: "1420 Austin Bluffs Parkway, Colorado Springs, CO"
    city:
      in: query
      name: city
      description: >
        A city name
      schema:
        type: string
        example: London
    country:
      in: query
      name: country
      description: >
        A country name or 2 character alpha ISO 3166 code
      schema:
        type: string
        example: "GB"
    latitude:
      in: query
      name: latitude
      description: >
        The decimal value for the latitude co-ordinate of the location you want the time computed for.
      schema:
        type: number
        example: 51.75865125
    longitude:
      in: query
      name: longitude
      description: >
        The decimal value for the longitude co-ordinate of the location you want the time computed for.
      schema:
        type: number
        example: -1.25387785
    gregorian_month:
      in: query
      name: month
      description: >
        A gregorian calendar month
      schema:
        type: number
        example: 08
    hijri_month:
      in: query
      name: month
      description: >
        A hijri calendar month
      schema:
        type: number
        example: 08
    gregorian_year:
      in: query
      name: year
      description: >
        A gregorian calendar year
      schema:
        type: number
        example: 2022
    hijri_year:
      in: query
      name: year
      description: >
        A gregorian calendar year
      schema:
        type: number
        example: 2022
    annual:
      in: query
      name: annual
      description: >
        If true, month parameter will be ignored and the calendar for the entire year will be returned
      schema:
        type: boolean
        example: false
        default: false
    method:
      in: query
      name: method
      description: >
        A prayer times calculation method. Methods identify various schools of thought about how to compute the timings. If not specified, it defaults to the closest authority based on the location or co-ordinates specified in the API call. This parameter accepts values from 0-12 and 99, as specified below:
        <br><br>
        Possible values:

        * `0` - Shia Ithna-Ansari

        * `1` - University of Islamic Sciences, Karachi

        * `2` - Islamic Society of North America

        * `3` - Muslim World League

        * `4` - Umm Al-Qura University, Makkah

        * `5` - Egyptian General Authority of Survey

        * `6` - Institute of Geophysics, University of Tehran

        * `7` - Gulf Region

        * `8` - Kuwait

        * `9` - Qatar

        * `10` - Majlis Ugama Islam Singapura, Singapore

        * `11` - Union Organization islamic de France
        
        * `12` - Diyanet İşleri Başkanlığı, Turkey

        * `13` - Spiritual Administration of Muslims of Russia

        * `14` - Moonsighting Committee Worldwide (also requires shafaq paramteer)

        * `99` - Custom. See [https://aladhan.com/calculation-methods](https://aladhan.com/calculation-methods)

      schema:
        type: number
        example: 4
        default: 0
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 99
    shafaq:
      in: query
      name: shafaq
      description: >
        Which Shafaq to use if the method is Moonsighting Commitee Worldwide.
        Acceptable options are 'general', 'ahmer' and 'abyad'
      schema:
        type: string
        example: general
        default: general
        enum:
        - general
        - ahmer
        - abyad
    tune:
      in: query
      name: tune
      description: >
        Comma Separated String of integers to offset timings returned by the
        API in minutes. The order is `Imsak,Fajr,Sunrise,Dhuhr,Asr,Maghrib,Sunset,Isha,Midnight`.
        See
        [https://aladhan.com/calculation-methods](https://aladhan.com/calculation-methods)
        for more details.
      schema:
        type: string
        example: 5,3,5,7,9,-1,0,8,-6
    school:
      in: query
      name: school
      description: >
        Shafi (or the standard way) or Hanafi.
        <br /><br />
        Possible values:

        * `0` - Shafi

        * `1` - Hanafi
      schema:
        type: integer
        default: 0
        enum:
        - 0
        - 1
    midnightMode:
      in: query
      name: midnightMode
      description: >
        Determines the method for calculating midnight
        <br><br>
        Possible values:
        
        * `0` - Standard (Mid Sunset to Sunrise)

        * `1` - Jafari (Mid Sunset to Fajr)
      schema:
        type: integer
        default: 0
        enum:
        - 0
        - 1
    timezonestring:
      in: query
      name: timezonestring
      description: >
        A valid timezone name as specified on
        [https://php.net/manual/en/timezones.php](https://php.net/manual/en/timezones.php).
        <br>
        *If you do not specify this, we'll calcuate it using the co-ordinates you provide.*
      schema:
        type: string
        example: "Europe/London"
    zone:
      in: query
      name: zone
      description: >
        A valid timezone name as specified on
        [https://php.net/manual/en/timezones.php](https://php.net/manual/en/timezones.php).
      schema:
        type: string
        example: "Europe/London"
    latitudeAdjustmentMethod:
      in: query
      name: latitudeAdjustmentMethod
      description: >
        Method for adjusting times at higher latitudes.
        For example, if you are checking timings in the UK or Sweden.
        <br><br>
        Possible values:

        * `1` - Middle of the Night

        * `2` - One Seventh

        * `3` - Angle Based
      schema:
        type: integer
        enum:
        - 1
        - 2
        - 3
    adjustment:
      in: query
      name: adjustment
      description: >
        Number of days to adjust hijri date(s).
      schema:
        type: integer
        example: -1
    iso8601:
      in: query
      name: iso8601
      description: >
        Whether to return the prayer times in the iso8601 format.
        Example: true will return 2020-07-01T02:56:00+01:00 instead of 02:56
      schema:
        type: boolean
        default: false
  schemas:
    string_response:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/code"
        status:
          $ref: "#/components/schemas/status"
        data:
          type: string
    calendar_response:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/code"
        status:
          $ref: "#/components/schemas/status"
        data:
          $ref: "#/components/schemas/calendar_data"          
    timings_response:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/code"
        status:
          $ref: "#/components/schemas/status"
        data:
          $ref: "#/components/schemas/timing_data"
    methods_response:
      type: object
      properties:
        code:
          $ref: "#/components/schemas/code"
        status:
          $ref: "#/components/schemas/status"
        data:
          type: object
          properties:
            MWL:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            ISNA:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            EGYPT:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            MAKKAH:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: string
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            KARACHI:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            TEHRAN:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Maghrib:
                      type: number
                    Isha:
                      type: number
                    Midnight:
                      type: string
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            JAFARI:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Maghrib:
                      type: number
                    Isha:
                      type: number
                    Midnight:
                      type: string
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            GULF:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: string
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            KUWAIT:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            QATAR:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: string
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            SINGAPORE:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            FRANCE:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            TURKEY:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            RUSSIA:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    Fajr:
                      type: number
                    Isha:
                      type: number
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"
            MOONSIGHTING:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                params:
                  type: object
                  properties:
                    shafaq:
                      type: string
                location:
                  type: object
                  properties:
                    latitude:
                      $ref: "#/components/schemas/latitude"
                    longitude:
                      $ref: "#/components/schemas/longitude"

    code:
      type: integer
      example: 200
    status:
      type: string
      example: "OK"

    calendar_data:
      type: array
      items:
        $ref: "#/components/schemas/result_item"
    timing_data:
      $ref: "#/components/schemas/result_item"
    result_item:
      type: object
      properties:
        timings:
          $ref: "#/components/schemas/timings"
        date:
          $ref: "#/components/schemas/date"
        meta:
          $ref: "#/components/schemas/meta"
      
    timings:
      type: object
      properties:
        Fajr:
          type: string
          example: "02:52 (BST)"
        Sunrise:
          type: string
          example: "05:33 (BST)"
        Dhuhr:
          type: string
          example: "13:18 (BST)"
        Asr:
          type: string
          example: "17:31 (BST)"
        Sunset:
          type: string
          example: "20:11"
        Maghrib:
          type: string
          example: "20:10"
        Isha:
          type: string
          example: "22:11"
        Imsak:
          type: string
          example: "03:33"
        Midnight:
          type: string
          example: "00:58"
    date:
      type: object
      properties:
        readable:
          type: string
          example: "20 Apr 2022"
        timestamp:
          type: string
          example: "1650495506"
        gregorian:
          type: object
          properties:
            date:
              $ref: "#/components/schemas/returned_date_en"
            format:
              $ref: "#/components/schemas/format"
            day:
              $ref: "#/components/schemas/day_en"
            weekday:
              $ref: "#/components/schemas/weekday_en"
            month:
              $ref: "#/components/schemas/month_en"
            year:
              $ref: "#/components/schemas/year_en"
            designation:
              $ref: "#/components/schemas/designation_en"
        hijri:
          type: object
          properties:
            date:
              $ref: "#/components/schemas/returned_date_ar"
            format:
              $ref: "#/components/schemas/format"
            day:
              $ref: "#/components/schemas/day_ar"
            weekday:
              $ref: "#/components/schemas/weekday_en_ar"
            month:
              $ref: "#/components/schemas/month_en_ar"
            year:
              $ref: "#/components/schemas/year_ar"
            designation:
              $ref: "#/components/schemas/designation_ar"
            holidays:
              type: array
              items:
                type: string
                example: "1st Day of Ramadan"
    returned_date_en:
      type: string
      example: "20-04-2022"
    returned_date_ar:
      type: string
      example: "17-09-1443"
    format:
      type: string
      example: "DD-MM-YYYY"
    day_en:
      type: string
      example: "20"
    day_ar:
      type: string
      example: "17"
    weekday_en:
      type: object
      properties:
        en:
          type: string
          example: "Wednesday"
          description: >
            English name of weekday
    weekday_en_ar:
      type: object
      properties:
        en:
          type: string
          example: "Al Arba'a"
          description: >
            English name of weekday
        ar:
          type: string          
          example: "الاربعاء"
          description: >
            Arabic name of weekday
    month_en:    
      type: object
      properties:
        number:
          type: integer
          example: 4
        en:
          type: string
          example: "April"
          description: >
            English name of the month
    month_en_ar:    
      type: object
      properties:
        number:
          type: integer
          example: 9
        en:
          type: string
          example: "Ramaḍān"
          description: >
            English name of the month
        ar:
          type: string
          example: "رَمَضان"
          description: >
            Arabic name of the month
    year_en:
      type: string
      example: "2022"
    year_ar:
      type: string
      example: "1443"
    designation_en:
      type: object
      properties:
        abbreviated:
          type: string
          example: "AD"
        expanded:
          type: string
          example: "Anno Domini"
    designation_ar:
      type: object
      properties:
        abbreviated:
          type: string
          example: "AH"
        expanded:
          type: string
          example: "Anno Hegirae"
    meta:
      type: object
      properties:
        latitude:
          $ref: "#/components/schemas/latitude"
        longitude:
          $ref: "#/components/schemas/longitude"
        timezone:
          $ref: "#/components/schemas/timezone"
        method:
          $ref: "#/components/schemas/method"
        latitudeAdjustmentMethod:
          $ref: "#/components/schemas/latitudeAdjustmentMethod"
        midnightMode:
          $ref: "#/components/schemas/midnightMode"
        school:
          $ref: "#/components/schemas/school"
        offset:
          $ref: "#/components/schemas/offset"
    latitude:
      type: number
      example: 51.75865125
    longitude:
      type: number
      example: -1.25387785
    timezone:
      type: string
      example: "Europe/London"
      description: >
        Timezone for all returned times
    method:
      type: object
      properties:
        id:
          type: integer
          example: 4
        name:
          type: string
          example: "Umm Al-Qura University, Makkah"
        params:
          type: object
          properties:
            Fajr:
              type: string
              example: 18.5
            Isha:
              type: string
              example: "90 min"
    latitudeAdjustmentMethod:
      type: string
      example: "ANGLE_BASED"
    midnightMode:
      type: string
      example: "STANDARD"
    school:
      type: string
      example: "STANDARD"
    offset:
      type: object
      properties:
        Imsak:
          type: string
          example: "5"
        Fajr:
          type: string
          example: "3"
        Sunrise:
          type: string
          example: "5"
        Dhuhr:
          type: string
          example: "7"
        Asr:
          type: string
          example: "9"
        Maghrib:
          type: string
          example: "-1"
        Sunset:
          type: string
          example: "0"
        Isha:
          type: string
          example: "30 min"
        Midnight:
          type: string
          example: "-6"
paths:
  /calendar:
    get:
      summary: Prayer Times Calendar
      description: Returns all prayer times for a specific calendar month.
      tags:
        - Full Calendar
      parameters:
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/gregorian_month"
        - $ref: "#/components/parameters/gregorian_year"
        - $ref: "#/components/parameters/annual"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calendar_response"
  /calendarByAddress:
    get:
      summary: Prayer Times Calendar by address
      description: Returns all prayer times for a specific calendar month at a particular address.
      tags:
        - Full Calendar
      parameters:
        - $ref: "#/components/parameters/address"
        - $ref: "#/components/parameters/gregorian_month"
        - $ref: "#/components/parameters/gregorian_year"
        - $ref: "#/components/parameters/annual"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calendar_response"
  /calendarByCity:
    get:
      summary: Prayer Times Calendar by city
      description: Returns all prayer times for a specific calendar month by City.
      tags:
        - Full Calendar
      parameters:
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/country"
        - $ref: "#/components/parameters/gregorian_month"
        - $ref: "#/components/parameters/gregorian_year"
        - $ref: "#/components/parameters/annual"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calendar_response"
  /hijriCalendar:
    get:
      summary: Prayer Times Calendar
      description: Returns all prayer times for a specific calendar month.
      tags:
        - Full Calendar
      parameters:
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/hijri_month"
        - $ref: "#/components/parameters/hijri_year"
        - $ref: "#/components/parameters/annual"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calendar_response"
  /hijriCalendarByAddress:
    get:
      summary: Prayer Times Hijri Calendar by address
      description: Returns all prayer times for a specific Hijri calendar month at a particular address.
      tags:
        - Full Calendar
      parameters:
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/hijri_month"
        - $ref: "#/components/parameters/hijri_year"
        - $ref: "#/components/parameters/annual"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calendar_response"
  /hijriCalendarByCity:
    get:
      summary: Prayer Times Hijri Calendar by city
      description: Returns all prayer times for a specific Hijri calendar month by City.
      tags:
        - Full Calendar
      parameters:
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/hijri_month"
        - $ref: "#/components/parameters/hijri_year"
        - $ref: "#/components/parameters/annual"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/calendar_response"
  /timings:
    get:
      summary: Prayer Times for date
      description: Returns all prayer times for a specific date.
      tags:
        - Single Day
      parameters:
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/timings_response"
  /timings/{date_or_timestamp}:
    get:
      summary: Prayer Times for date
      description: Returns all prayer times for a specific date.
      tags:
        - Single Day
      parameters:
        - $ref: "#/components/parameters/date_or_timestamp"
        - $ref: "#/components/parameters/latitude"
        - $ref: "#/components/parameters/longitude"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/timings_response"
  /timingsByAddress:
    get:
      summary: Timings By Address
      description: Returns all prayer times for a specific date at a particular address.
      tags:
        - Single Day
      parameters:
        - $ref: "#/components/parameters/address"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/timings_response"
  /timingsByAddress/{date_or_timestamp}:
    get:
      summary: Timings By Address
      description: Returns all prayer times for a specific date at a particular address.
      tags:
        - Single Day
      parameters:
        - $ref: "#/components/parameters/date_or_timestamp"
        - $ref: "#/components/parameters/address"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/timings_response"
  /timingsByCity:
    get:
      summary: Timings By City
      description: Returns all prayer times for a specific date in a particular city.
      tags:
        - Single Day
      parameters:
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/country"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/timings_response"
  /timingsByCity/{date_or_timestamp}:
    get:
      summary: Timings By City
      description: Returns all prayer times for a specific date in a particular city.
      tags:
        - Single Day
      parameters:
        - $ref: "#/components/parameters/date_or_timestamp"
        - $ref: "#/components/parameters/city"
        - $ref: "#/components/parameters/country"
        - $ref: "#/components/parameters/method"
        - $ref: "#/components/parameters/shafaq"
        - $ref: "#/components/parameters/tune"
        - $ref: "#/components/parameters/school"
        - $ref: "#/components/parameters/midnightMode"
        - $ref: "#/components/parameters/timezonestring"
        - $ref: "#/components/parameters/latitudeAdjustmentMethod"
        - $ref: "#/components/parameters/adjustment"
        - $ref: "#/components/parameters/iso8601"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/timings_response"
  /currentDate:
    get:
      summary: Current date
      description: Returns the current date (in the DD-MM-YYYY format) for the specified time zone
      tags:
        - Utility
      parameters:
        - $ref: "#/components/parameters/zone"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/string_response"
  /currentTime:
    get:
      summary: Current time
      description: Returns the current time (in the HH:MM format) for the specified time zone
      tags:
        - Utility
      parameters:
        - $ref: "#/components/parameters/zone"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/string_response"
  /currentTimestamp:
    get:
      summary: Current UNIX timestamp
      description: Returns the current UNIX timestamp for the specified time zone
      tags:
        - Utility
      parameters:
        - $ref: "#/components/parameters/zone"
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/string_response"
  /methods:
    get:
      summary: Prayer Times Methods
      description: >
        Returns all the prayer times calculation methods supported by this API.
        For more information on how to use custom methods,
        see [https://aladhan.com/calculation-methods](https://aladhan.com/calculation-methods).
      tags:
        - Utility
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/methods_response"
